<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body class="container">
    <div id="home_page_header">
      <h1 id="page_header">Hammocks</h1>
      <h1 id="page_header">N'</h1>
      <h1 id="page_header">Drinks</h1>
    </div>

    <div id="home_page_entry_button">
      <form action="/space_hammocks" method="get">
        <input id="front_page_button" type="submit" value="Book your Space Hammock!">
      </form>
    </div>

  </body>
</html>
