<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
    <header>
    </header>

    <body class="container" id='list_body'>
      <header id="header_listings">
        <div>
        </div>
        <div id="sign_in_div">
          <a href="" target="_self" id='link_buttons'>Sign In</a>
          <a href="" target="_self" id='link_buttons'>Sign Up</a>
        </div>
      </header>


      <main>
      <div id="home_page_header">
        <h1 id="page_header">Space Hammocks</h1>
      </div>

        <div id="hammocks_display_div">
          <% @all_hammocks.each do |hammock| %>
            <div id="hammock_containters">
              <div id='left_side'
                <p class="name"><%=hammock[:name]%></p>
                <p class="hammock"><%=hammock[:description]%></p>
                <p class="price">₿<%=hammock[:price_per_night]%></p>
              </div>
              <div id='right_side'>
                <form action="/space_hammocks/<%=hammock[:id]%>/book" method="get" class="hammock_book">
                  <input class="book_button" type="submit" value="Book">
                </form>
              </div>
            </div>
          <%end%>
        </div>

        <div id="list_hammock_button_div">
          <form action="/space_hammocks/new" method="get">
            <input id="list_hammock_button" type="submit" value="List my Space Hammock">
          </form>
        </div>

      </main>


  </body>
</html>
