body {
  background-image: url("/resources/Space_Hammock_no_title.jpg");
  /* background-size: 100vw; */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Berkshire Swash', cursive;
}

#home_page_header {

}

#page_header {
  margin: 0;
  padding: 0;
  font-size: 4em;
}




/* rock a bye

3508 * 2480 */
