body {
  background-image: url("/resources/Space_Hammock_no_title.jpg");
  /* background-size: 100vw; */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Berkshire Swash', cursive;
}

#front_page_button {
  background-color: rgba(255,255,255,0.3);
  border: none;
  color: black;
  padding: 5px 30px;
  text-align: center;
  font-size: 20px;
  font-family: 'Berkshire Swash', cursive;
  border-radius: 15px;
  /* opacity: 0.5; */
  margin-top: 10px;
}

#home_page_header {

}

#page_header {
  margin: 0;
  padding: 0;
  font-size: 3.6em;
}




/* rock a bye

3508 * 2480 */
