<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body class="container">

    <h1><%= @hammock.name %> is already booked! Please choose another Hammock.</h1>

    <form action="/space_hammocks" method="get">
      <input type="submit" value="Back to Space Hammocks!">
    </form>

  </body>
</html>
