<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body class="empty_background">

    <% if @booked %>
      <h1> Successfully booked <%= @hammock.name %>! </h1>

    <% else %>
      <h1>Do you want to book <%= @hammock.name %>? </h1>

      <form action="/space_hammocks/<%= @hammock.id %>/book" method="post">
        <input class='confirm_booking_button' type="submit" value="Confirm Booking">
      </form>
    <% end %>

    <form action="/space_hammocks" method="get">
      <input class='confirm_booking_button' type="submit" value="Back to Space Hammocks!">
    </form>

  </body>
</html>
