<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MakersHnD</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body class="container" id='list_body'>

    <header id="header_listings">
      <div>
      </div>
      <div id="sign_in_div">
        <a href="" target="_self" id='link_buttons'>Sign In</a>
        <a href="" target="_self" id='link_buttons'>Sign Up</a>
      </div>
    </header>

      <div id="home_page_header">
        <h1 id="page_header">Space Hammocks</h1>
      </div>
    <div id="hammocks_listing_div">
      <form action="/space_hammocks" method="post">
       <label class='listing_label' for="name">Name</label><br>
        <input type="text" id='listing_name' name="name" required><br>
        <label class='listing_label' for="description">Description</label><br>
        <textarea name="description" id='listing_description' rows="3" cols="50" maxlength="1000" required></textarea><br>
        <label class='listing_label' for="price_per_night">Price per Night</label><br>
        <input type="decimal" id='listing_price_per_night'name="price_per_night" min="0" required><br>
        <input id='list_button' type="submit" value="List!">
      </form>
    </div>
  </body>
</html>
