<!DOCTYPE html>
<html lang="en">
  <head>
    <h1> Sign up to Hammocks N Drinks! </h1>
  </head>
  <body>
    <%= flash[:error] %>
    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="username" placeholder="Username">
      <input type="email" name="email" placeholder="email@email.com">
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Sign Up">
    </form>

  </body>
  </html>
